{% extends 'base.html' %}
{% load static %}
{% block content %}



<body style="background-color: #E8E8E8;">
    <div class="container-fluid">
        <center><h1 class="title">REGISTER YOUR CAR!</h1></center>
    </div>

    <br>

    <div class="container" style="width: 60%; margin-bottom: 30px;">
        <form method="post" action="{% url 'car_rental:addCar' %}">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-sm-8" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; text-align: center;">
                    {% for fields in form %}
                        {{ fields.label_tag }}
                        <br>
                        {{ fields }}
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="form-row">
                <input type="submit" class="button btnClass2" value="Add">
            </div>
        </form>
    </div>
</body>



{% endblock %}