{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>View Articles | RentACar</title>

<!------------------------------------------------------------friend list--------------------------------------------------------->

<body style="background-color: #E8E8E8; width: 100%; height: 120%;">
<div class="container-fluid">
    <center><h1 class="title">ARTICLES</h1></center>
</div>
<br><br>
<div class="container align-content-center">
    <div class="card" style="width: 100%;">
        <div class="card-header" style="background-color: white; border-radius: 25px 25px 0 0;">
            <div class="row no-gutters align-items-end">
                <div class="col">
                    <h2 class="card-title" id="articletitle">
                        {{ article.title }}</a>
                    </h2>
                    <h6>{{ article.date }}</h6>
                </div>
                <div class="col">
                    <h4 class="card-subtitle" style="text-align: end;" id="rating-value"> Likes: {{ article.total_like }}</h4>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ article.photo.url }}" class="card-img-responsive" alt="IMAGE" style="width: 100%; float: left; margin-right: 10px;">
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-7">
                    <p class="card-text">{{ article.content }}</p>
                </div>
            </div>
            {% if user.is_authenticated %}
            <div class="form-row">
                <button onclick="rating('{{ article.title }}','rating-value')" class="button btnClass2">Like !</button>
            </div>
            {% endif %}
        </div>

    </div>
</div>


</body>
<script type="text/javascript">

var count=0;
var total=0;
    function rating(judul,ojek){
        $.get("/update_rating/?title=" + judul, function(data, status){
            document.getElementById(ojek).innerHTML = "Likes: " + data;
        });
    }


</script>

{% endblock %}
