{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Articles | RentACar</title>

<!------------------------------------------------------------friend list--------------------------------------------------------->

<body style="background-color: #E8E8E8;">
<div class="container-fluid">
    <center><h1 class="title">ARTICLES</h1></center>
</div>
<br><br>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
        {% for article in article %}
        <form method="POST" action="{% url 'car_rental:articleView' %}">
            {% csrf_token %}
            <div class="col mb-4">
                <div class="card" style="width: 100%">
                    <div class="card-header" style="background-color: white;border-radius: 25px 25px 0 0;">
                        <div class="row no-gutters align-items-end">
                            <div class="col">
                                <h4 class="card-title style">
                                    {{ article.title }}</a>
                                </h4>
                                <h6>{{ article.date }}</h6>
                            </div>
                            <div class="col">
                                <h6 class="card-subtitle" style="text-align: end;" id="rating-value"> Likes: {{ article.total_like }}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" align="center">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="{{ article.photo.url }}" class="card-img-responsive" alt="IMAGE" style="width: 100%; float: left; margin-right: 10px; border-radius: 20px;">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-7">
                                <p class="card-text" align="start">{{ article.short_desc }}</p>
                            </div>
                        </div>
                        <input type="hidden" name='title' value='{{ article.title }}'>
                        <input class="button btnClass"type="submit" value='View article'>
                    </div>

                </div>
                <br>
            </div>
        </form>
        {% endfor %}
    </div>
</div>

</body>

{% endblock %}
