<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!----------------------------------------------------------links------------------------------------------------------->
    <link href="https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://kit.fontawesome.com/d17701d3a2.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
     <!--------------------------------------------------------------------------------------------------------------------->

    <title>RentACar</title>
</head>
<body>
    <!----------------------------------------------------------navigation bar------------------------------------------------------->

    <nav class="navbar navbar-expand-lg navbar-dark bg-none" id="mainNav">
        <a class="navbar-brand" href="#page-top"></a>
        <a class="navbar-brand" href="{% url 'car_rental:index' %}#welcome"><img src="{% static 'images/logo.png' %}" style="max-width: 200px;"></a>
        <button class="navbar-toggler navbar-toggler-right" style="background: #1A3852;" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>           
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link navbarfont" href="{% url 'car_rental:index' %}" style="padding: 10px;">HOME</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle navbarfont" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding: 10px;">
                    CARS
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item navbarfont" href="{% url 'car_rental:car' %}" style="margin: 0;">CARS AVAILABLE</a>
                    <a class="dropdown-item navbarfont" href="{% url 'car_rental:addCar' %}" style="margin: 0;">REGISTER YOUR CAR!</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link navbarfont" href="{% url 'car_rental:transaction' %}" style="padding: 10px;">TRANSACTION</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbarfont" href="{% url 'car_rental:article' %}" style="padding: 10px;">ARTICLES</a>
            </li>
            {%if user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link navbarfont" href="{% url 'car_rental:favoriteCar'%}" style="padding: 10px;">FAVORITE CARS</a>
                </li>
            {%endif%}
            {%if user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link navbarfont" href="{%url 'auths:logout'%}" style="padding: 10px;">LOG OUT</a>
                </li>
            {%endif%}
        </ul>
        </div>
    </nav>


    {% block content %}
    
    {% endblock %}

    <!----------------------------------------------------------bootstrap script------------------------------------------------------->

    
    <!-- <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/popper.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"   integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{% static 'js/carSearch.js' %}"></script>

</body>
</html>