{% extends 'base.html' %}
{% block content %}
{% load static %}
<title>Cars | RentACar</title>

<body style="background: #E8E8E8;">
    {%if user.is_authenticated%}
        <div class="container">
            <div class="row">
                <div class="col-sm-8"></div>
                
                <!-- <div class="col-sm">
                    <div class="select-box"><select id="selectSearch">search by: 
                            <option id="name" value="name">Name</option> 
                            <option id="price" value="price">Price</option> 
                        </select>                
                    </div>
                </div> -->
                <div class="col-sm">
                    <h5>
                        <form class="example" method="POST" action="{% url 'car_rental:car' %}">
                            {% csrf_token %}
                            <input class="form-example" id="search" type="search" placeholder="Search by name or price..." name="search">
                            <!-- <button type="submit"><i class="fa fa-search" style="border-radius: 20px;max-width: 10px;"></i></button> -->
                        </form>
                    </h5>
                </div>
            </div>
        </div>
            
        <br>
        <div class="container-fluid" style="margin: 0;"><h1 class="title">CARS</h1></div>

        <center><div class="container" style="margin: 0;">
            <div class="d-flex flex-wrap justify-content-center carDisplay">
            {% for car in car %}
            <form action="{% url 'car_rental:viewCar' %}" method="POST">
                {% csrf_token %}
                <div class="card">
                    <div class="card-body text-center">
                        <img src="{% static 'images/car.png' %}" class="pict">
                        <h5 class="card-title">{{ car.car_name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted" style="margin-bottom: 4px;">{{ car.city }}</h6>
                        <p class="card-text" style="margin-bottom: 8px;">Rp. {{ car.price }},00 / day</p>
                        <input type='hidden' name='car_name' value='{{ car.car_name }}'>
                        <input type="hidden" name="user_name" value="{{ car.user_name }}">
                        <input type="submit" class="button btnClass" value='View Details'>
                    </div>
                </div>
            </form>
            {% endfor %}
            </div>
        </div></center>
    {%else%}
        <div class="container" style="margin-top: 10vh;">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <br><br><br>
                    <center>
                        <h2>Welcome to RentACar!</h2>
                        <p>Please <a href="{%url 'auths:login'%}">log in</a> to continue..</p>
                    </center>
                </div>
            </div>
        </div>
    {%endif%}

    <script>
        $('#search').on("keyup", function() {  
        $.ajax({
            url: `/carSearch/`,
            data: { "search": $(this).val().toLowerCase()},
            dataType: 'json',
            success: function (data) {
                $(".carDisplay").html(data.map(car =>
                    `<div class="card">
                        <div class="card-body text-center">
                            <img src="https://pbs.twimg.com/media/EXpGD2hVcAEnABZ?format=png&name=small" class="pict">
                            <h5 class="card-title">${car.car_name }</h5>
                            <h6 class="card-subtitle mb-2 text-muted" style="margin-bottom: 4px;">${car.city}</h6>
                            <p class="card-text" style="margin-bottom: 8px;">Rp. ${car.price},00 / day</p>
                            <input type='hidden' name='car_name' value='${car.car_name}'>
                            <input type='hidden' name='user_name' value='${car.user_name}'>
                            <input type="submit" class="button btnClass" value='View Details'>
                        </div>
                    </div>`
                ))
            }
        })    
    });
    </script>
</body>


{% endblock %}