{% extends 'base.html' %}
{% load static %}
{% block content %}

<body style="background: #E8E8E8;">
    {%if user.is_authenticated%}
        <div class="container">
            <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm">
                    <form class="example" method="POST" action="{% url 'car_rental:carSearchHomepage' %}">
                        {% csrf_token %}
                        <input class="form.example" type="search" placeholder="Search a Car..." name="search">
                        <button type="submit"><i class="fa fa-search" style="border-radius: 20px;max-width: 10px;"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <div class="container-fluid"><h1 class="title">FAVORITE CARS</h1></div>

        <div class="container" style="margin: 0;">
            <div class="d-flex flex-wrap justify-content-center">
            {% for car in car %}
            
            
            <div class="card">
                <div class="card-body text-center">
                    <img src="{% static 'images/car.png' %}" class="pict">
                    <h5 class="card-title">{{ car.car_name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ car.city }}</h6>
                    <p class="card-text">{{ car.price }} / day</p>
                    <div class="row">
                        <div class="col-md">
                            <form action="{% url 'car_rental:viewCar' %}" method="POST">
                                {% csrf_token %}
                                <input type='hidden' name='car_name' value='{{ car.car_name }}'>
                                <input type='hidden' name='user_name' value='{{ car.user_name }}'>
                                <input type="submit" class="button btnClass" style="width: fit-content;" value='View Details'>
                            </form>
                        </div>
                        <div class="col-md">
                            <form action="{% url 'car_rental:unfavoriteCar'%}" method="POST">
                                {% csrf_token %}
                                <input type='hidden' name='carname' value='{{ car.car_name }}'>
                                <input type='hidden' name='username' value='{{ car.user_name }}'>
                                <input type="submit" class="button btnClass" value='Remove'>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            </div>
        </div>
    {%else%}
        <div class="container" style="margin-top: 10vh;">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <br><br><br>
                    <center>
                        <h2>Welcome to RentACar!</h2>
                        <p>Please <a href="{%url 'auths:login'%}">log in</a> to continue..</p>
                    </center>
                </div>
            </div>
        </div>
    {%endif%}
</body>

{% endblock %}