{% extends 'base.html' %}
{% load static %}
{% block content %}

<body style="background-color: #E8E8E8;">
    {%if user.is_authenticated%}
        <div class="container-fluid title"><h1>RENT FORM</h1></div> <br><br>

        <br><br>

        <div class="container">
            <form method="post" action="{% url 'car_rental:rentCar' %}">
                {% csrf_token %}

                <div class="form-row">
                    <div class="form-group col-sm-8" style="padding-left: 15px; padding-right: 15px; margin-left: auto; margin-right: auto; text-align: center;">
                        {% for fields in form %}
                            {{ fields.label_tag }}
                            <br>
                            {{ fields }}
                            <br>
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <input type="submit" class="button btnClass" value="SUBMIT">
                </div>
            </form>
        </div>
    {%else%}
        <div class="container" style="margin-top: 10vh;">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <br><br><br>
                    <center>
                        <h2>Welcome to RentACar!</h2>
                        <p>Please <a href="{%url 'auths:login'%}">log in</a> to continue..</p>
                    </center>
                </div>
            </div>
        </div>
    {%endif%}
</body>

{% endblock %}