{% extends 'base.html' %}
{% load static %}
{% block content %}

<title>Transaction</title>

<body style="background: #E8E8E8;">
    {%if user.is_authenticated%}
        <div class="container-fluid">
            <center><h1 class="title">TRANSACTIONS</h1></center>
        </div>

        <div class="container">
            <br>

            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col" style="color: #243370">User Name</th>
                    <th scope="col" style="color: #243370">Car</th>
                    <th scope="col" style="color: #243370">Rent Start Date</th>
                    <th scope="col" style="color: #243370">Rent End Date</th>
                    <th scope="col" style="color: #243370">Transaction Date</th>
                </tr>
                </thead>
                <tbody>
                    {% for transaction in transaction %}
                    <tr>
                        <td style="text-align: center;">{{ transaction.user_name }}</td>
                        <td style="text-align: center;">{{ transaction.car }}</td>
                        <td style="text-align: center;">{{ transaction.start_date }}</td>
                        <td style="text-align: center;">{{ transaction.end_date }}</td>
                        <td style="text-align: center;">{{ transaction.date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {%else%}
        <div class="container" style="margin-top: 10vh;">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <br><br><br>
                    <center>
                        <h2>Welcome to RentACar!</h2>
                        <p>Please <a href="{%url 'auths:login'%}">log in</a> to continue..</p>
                    </center>
                </div>
            </div>
        </div>
    {%endif%}
</body>

{% endblock %}