{% extends 'base.html' %}
{% load static %}
{% block content %}

<body style="background: #E8E8E8;">
    {%if user.is_authenticated%}
        <center><div class="container_fluid"><div class="header-line"></div></div></center>
        <div class="container" style="margin-bottom:30px;">
            <center>
                <br>
                <img src="{% static 'images/car.png' %}" class="pict" style="max-width: 200px;">
                <h2 class="review" id="carname">{{ car.car_name }}</h2>
                <p class="review">{{ car.user_name }} </p>
                <h4 class="review">{{ car.city }}  {{ car.year }}</h4>
                <h4 class="review">Rp. {{ car.price }},00 / day</h4>
                <p class="review">{{ car.description }}</p><br><br>
                <div class="container" style="width: 25vw;">
                    <div class="row">
                        <div class = "col-md">
                            <form method="POST" action="{% url 'car_rental:rentCar' %}">
                                {% csrf_token %}
                                <input class="button btnClass2" type="submit" value="Rent now!">
                            </form>
                        </div>
                        <div class="col-md">
                            <form method="POST" action="{% url 'car_rental:favoriteCar' %}">
                                {% csrf_token %}
                                <input type='hidden' name='car_name' value='{{ car.car_name }}'>
                                <input type='hidden' name='user_name' value='{{ car.user_name }}'>
                                <input class="button btnClass2" style="width:fit-content" type="submit" value="Add to favorites">
                            </form>
                        </div>
                    </div>
                </div>
            </center>
        </div>
    {%else%}
        <div class="container" style="margin-top: 10vh;">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <br><br><br>
                    <center>
                        <h2>Welcome to RentACar!</h2>
                        <p>Please <a href="{%url 'auths:login'%}">log in</a> to continue..</p>
                    </center>
                </div>
            </div>
        </div>
    {%endif%}
</body>

{% endblock %}